<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<context:component-scan base-package="com.lac"></context:component-scan>
	<context:property-placeholder/>

	<bean id="knight" class="com.lac.spring.beans.BraveKnight">
		<constructor-arg ref="quest" />
		<constructor-arg value="brave man"/>
	</bean>
	<bean id="quest" class="com.lac.spring.beans.SlayDragonQuest">
		<constructor-arg value="#{T(System).out}" />
	</bean>

	<bean id="minstrel" class="com.lac.spring.beans.Minstrel">
		<constructor-arg value="#{T(System).out}" />
	</bean>

	<bean id="audience" class="com.lac.spring.aop.Audience2"></bean>
	<aop:config>
		<aop:aspect ref="minstrel">
			<aop:pointcut expression="execution(* *.embarkOnQuest(..))" id="embark"/>
			<aop:before method="singBeforeQuest" pointcut-ref="embark"/>
			<aop:after method="singAfterQuest" pointcut-ref="embark"/>
		</aop:aspect>
		<aop:aspect ref="audience">
			<aop:before pointcut="execution(** com.lac.spring.aop.Performance.perform(..))" method="silenceCellPhones"/>
			<aop:before pointcut="execution(** com.lac.spring.aop.Performance.perform(..))" method="takeSeats"/>
			<aop:after-returning pointcut="execution(** com.lac.spring.aop.Performance.perform(..))" method="applause"/>
			<aop:after-throwing pointcut="execution(** com.lac.spring.aop.Performance.perform(..))" method="demandRefund"/>
		</aop:aspect>
	</aop:config>

</beans>